h2 {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#redir {
    border: 0;
    display: none;
}

.redirect,
#prsnl,
#show {
    cursor: pointer;
}

#add_b {
    height: 50px;
    position: relative;
    left: 1400px;
    bottom: -500px;
}