h2 {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#redir {
    border: 0;
    display: none;
}

.redirect,
#prsnl,
#show {
    cursor: pointer;
}

#add_b {
    width: 180px;
    height: 70px;
    position: relative;
    left: 80px;
    bottom: -150px;
}

.ava {
    width: 100px;
    height: 100px;
}