form {
    position: absolute;
    left: -535px;
    top: 20px;
}

input,
select {
    width: 500px;
}

#show {
    position: absolute;
    left: 270px;
    bottom: -565px;
}

#load {
    position: absolute;
    left: 570px;
    bottom: -249px;
    width: 200px;
}

#noimg {
    color: red;
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 1100px;
    top: 250px;
}

#file_load {
    position: absolute;
    left: 1178px;
    bottom: -250px;
    border: 0;
}

#load1 {
    position: absolute;
    top: 515px;
    left: 570px
}